<div class="di-filter">
    <span class="di-filter-title">Filter: </span>

    <ul class="list-horizontal clearfix">
        <li>
            <span class="di-meat di-badge">
                <input id="meat" type="checkbox" checked>
                <label for="meat">Fleisch</label>
            </span>
        </li>
        <li>
            <span class="di-veggie di-badge">
                <input id="veggie" type="checkbox" checked>
                <label for="veggie">Gemüse</label>
            </span>
        </li>
        <li>
            <span class="di-fruit di-badge">
                <input id="fruit" type="checkbox" checked>
                <label for="fruit">Obst</label>
            </span>
        </li>
    </ul>
</div> 