<header class="di-head wrapper clearfix">
    <img class="di-head-brand" src="./img/header_desk_de.png" alt="Brand logo">

    <span class="di-head-btn">
        <button class="btn btn-sm <% menuOn ? 'is-on' : 'is-off' %>" 
            @click="toggleMenu">
            &#43;
        </button>
    </span>

    <nav class="di-head-nav <% menuOn ? 'is-on' : 'is-off' %>">
        <ul class="list-horizontal clearfix">
            <li class="is-active"><a href="#">menu-item 1</a></li>
            <li><a href="#">menu-item 2</a></li>
            <li><a href="#">menu-item 3</a></li>
            <li><a href="#">menu-item 4</a></li>
            <li><a href="#">menu-item 5</a></li>
            <li><a href="#">menu-item 6</a></li>
        </ul>
    </nav>
</header>