<main class="di-main wrapper">
    <div class="di-filter">
        <span class="di-filter-title">Filter: </span>

        <ul class="list-horizontal clearfix">
            <li>
                <div class="di-meat di-badge">
                    <input id="meat" type="checkbox" checked>
                    <label for="meat">Fleisch</label>
                </div>
            </li>
            <li>
                <div class="di-veggie di-badge">
                    <input id="veggie" type="checkbox" checked>
                    <label for="veggie">Gemüse</label>
                </div>
            </li>
            <li>
                <div class="di-fruit di-badge">
                    <input id="fruit" type="checkbox" checked>
                    <label for="fruit">Obst</label>
                </div>
            </li>
        </ul>
    </div>
</main>