{# mock data #}
{% set list = [
    {'type': 'fruit', 'title': 'Apfel'},
    {'type': 'veggie', 'title': 'Aubergine'},
    {'type': 'fruit', 'title': 'Banene'},
    {'type': 'veggie', 'title': 'Brokkoli'},
    {'type': 'meat', 'title': 'Huhn'},
    {'type': 'fruit', 'title': 'Orange'},
    {'type': 'meat', 'title': 'Rind'},
    {'type': 'veggie', 'title': 'Zucchini'}
] %}

<main class="di-main wrapper">
    
    {% include 'filter.html' %}

    <div class="di-results clearfix columns">
        <div class="col-xs-12">
            {% for item in list %}
            <div class="column col-xs-12 col-sm-6 col-md-3 float-left">
                {% include 'card.html' with { 'data': item } %}
            </div>
            {% endfor %}
        </div>
    </div>

</main>