/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.wrapper {
    max-width: 1160px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    @media #{$lg-up} {
        margin: 0 auto;
    }
}

.di-head {
    @media #{$lg-up} {
        margin-top: 30px;
    }
}

.di-main {
    margin-top: 20px;
}

.di-footer {
    margin-bottom: 30px;
}

.di-head-brand {
    @media #{$lg-up} {
        float: left;
    }
}

.di-head-nav {
    display: none;

    @media #{$lg-up} {
        display: block;
        float: right;
    }

    li {
        padding: 5px;
        text-align: center;
        width: 100%;

        @media #{$lg-up} {
            width: auto;
        }
    }

    .is-active a {
        text-decoration: underline;
    }
}

.di-head-btn {
    float: right;

    .is-on:before {
        background-color: #bcbcbc;
        content: '\2212';
        display: block;
        position: absolute;
        height: 24px;
    }

    @media #{$lg-up} {
        display: none;
    }
}

.di-filter-title {
    float: left;
    margin-right: 20px;
}

.di-badge {
    padding: 2px 8px;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 14px;
}

.di-veggie {
    background-color: $cFruit; 
    color: #fff;
}
.di-fruit {
    background-color: $cVeggie; 
}
.di-meat {
    background-color: $cMeat;
    color: #fff;
}

.di-results {
    margin-top: 20px;
}

.di-card {
    border: 0;

    &, 
    & img {
        border-radius: 0 !important;
    }

    img {
        width: 100%;
    }
}

.di-arrow {
    position: relative;
    top: -2px;

    &--fruit {
        @extend .di-arrow;
        color: $cFruit;
    }
    &--veggie {
        @extend .di-arrow;
        color: $cVeggie;
    }
    &--meat {
        @extend .di-arrow;
        color: $cMeat;
    }
}