/* ==========================================================================
   Breakpoints
   ========================================================================== */
$large:	    	1160px;
$medium:      840px;
$small:	    	600px;
$xsmall:	  	480px;

$lg-up:	    "screen and (min-width: #{$medium + 1})";
$lg:        "screen and (min-width: #{$medium}) and (max-width: #{$large})";
$md-up:	    "screen and (min-width: #{$small + 1})";
$md:         "screen and (min-width: #{$small + 1}) and (max-width: #{$medium})";
$sm-up:      "screen and (min-width: #{$xsmall + 1})";
$sm:         "screen and (min-width: #{$xsmall + 1}) and (max-width: #{$small})";
$xs:         "screen and (max-width: #{$xsmall})";
$retina:     "screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)";

   /* ==========================================================================
   Colors
   ========================================================================== */
$cFruit: green;
$cVeggie: orange;
$cMeat: red;